li 
  .col.is-10.hole_number= model.number
  .col.is-10= model.par
  .col.is-10= model.index
  .col.is-10= model.length
  .col.will-grow
    span.score(class= score ? 'is-' + score.points + '-points' : '')= score ? score.score : ''
  .col.is-10= score ? score.points : ''