li
  .hole_information
    .cell.number= hole_number
    .cell.length= hole_length
    .cell.par= hole_par
    .cell.index= hole_index
  .score_information
    .cell.score
      div(class=result)= score
    .cell.points= points