li
  .hole_information
    .cell.number= model.number
    .cell.length= model.length
    .cell.par= model.par
    .cell.index= model.index
  .score_information
    .cell.score
      div(class=score.result, role='score')= score.pretty_score
    .cell.points(role='points')= score.pretty_points