li
  a(href=model.player_url)= model.player().name
    .cell.left= model.through > 0 ? model.position : "-"
    .cell.thru= model.through
    .cell.score= model.through > 0 ? model.golf_score : ""
    .cell.time= model.time_parsed