li
  a(href=model.player_url)
    .cell.one(role='pretty_through')= model.pretty_through
    .cell.one
      img(src='http://graph.facebook.com/' + model.player().facebook_id + '/picture?type=square&height=100&width=100')
    .cell.five.ellipsis.name= model.player().name
    .cell.one.score(role='pretty_score')= model.pretty_score
    .cell.one.score(role='points')= model.points
    .cell.one.thru(role='through')= model.through

    .cell.three.time= model.time_parsed