li
  a(href='/tee-time/' + model.id)
    .cell.one= model.position()
    .cell.six.ellipsis.name= model.player.name
    .cell.one.score.blue= model.pretty_score
    .cell.one.score= model.points
    .cell.one.thru= model.through
