= partial "elements/header"

- content_for :view_javascript do
  :javascript
    var Bootstrap = {};
    Bootstrap.tournament = #{@tournament};
    Bootstrap.tee_times = #{@tee_times};
    Bootstrap.players = #{@players};
    Bootstrap.holes = #{@holes};
    Bootstrap.scores = #{@scores};

= yield_content :view_javascript